* {
    background-color: rgb(12, 12, 122);
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Times New Roman", serif;
    font-weight: 600;
    color: white;
    background-color: black;
}

.menu {
    font-size: 30px;
    font-style: italic;
    color: white;
}

.back {
    text-align: center;
    font-size: 25px;
    font-style: oblique;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    font-size: 20px;
    text-align: center;
    font-style: italic;
    color: white;
}

h2, h3 {
    text-align: center;
    font-family: "Times New Roman", serif;
    color: white;
    background-color: black;
}

.ingredients, .steps, .source {
    color: white;
    font-size: 20px;
}

.source {
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

